body{
    background-color: black;
    color: white;
}
.title{
    text-align: center;
}
.input{
    width: 300px;
    padding: 5px;
    color: white;
    background: black;
    margin-bottom: 50px;
    border: #55ffe2 1px solid;
}